.row {
    display: flex;
    margin-bottom: 15px;
}

.col-2 {
    width: 7% !important;
    /*padding-right: 3px;*/
}

.col-1 {
    border-left: 1px solid #e3e3e3;
    width: 0% !important;
    padding: inherit !important;
}

.col-9 {
}

label {
}

.description {
}